.git
.gitignore
.env
.env.example
node_modules
vendor
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
tests
.editorconfig
.phpunit.result.cache
phpunit.xml
README.md
docker-compose.yml
